{% extends "base.html.twig" %}

{% block title %}
    Movies
{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-16 border-gray-200">
            <h1 class="uppercase tracking-wider text-orange-500 text-lg font-semibold pt-12 pb-8">
                Movie Search Results ({{ movies|length }})
            </h1>
            {% if app.user %}
                <span class="font-light text-gray-500 italic">
                    Logged in as {{ app.user ? app.user.email : 'guest' }}
                </span>
            {% endif %}
        </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mx-20">
        {% for movie in movies %}
            <div class="mt-8">
                <a href="/movies/{{ movie.id }}">
                    <img src="{{ movie.imagePath }}" alt="{{ movie.title }}" class="shadow-xl rounded-md"/>
                </a>
                <div class="mt-2">
                    <a href="/movies/{{ movie.id }}" class="text-lg mt-2 hover:text-gray:300">{{ movie.title }}</a>
                    <div class="flex items-center text-gray-400 text-sm mt-1">
                        <svg class="fill-current text-orange-500 w-4" viewBox="0 0 24 24"><g data-name="Layer 2"><path d="M17.56 21a1 1 0 01-.46-.11L12 18.22l-5.1 2.67a1 1 0 01-1.45-1.06l1-5.63-4.12-4a1 1 0 01-.25-1 1 1 0 01.81-.68l5.7-.83 2.51-5.13a1 1 0 011.8 0l2.54 5.12 5.7.83a1 1 0 01.81.68 1 1 0 01-.25 1l-4.12 4 1 5.63a1 1 0 01-.4 1 1 1 0 01-.62.18z" data-name="star"/></g></svg>
                        <span class="ml-1">85%</span>
                        <span class="mx-2">|</span>
                        <span>{{ movie.releaseYear }}</span>
                    </div>
                    <div class="text-gray-400 text-sm">
                        Action, Thriller, Comedy
                        {#{{ movie.genre }}#}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}