{% extends "base.html.twig" %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block body %}
    <div class="sm:w-3/5 w-4/5 mx-auto pt-10">
        <h1 class="pt-20 sm:text-5xl md:text-7xl text-4xl font-bold text-center">
            {{ movie.title }}
        </h1>

        <div class="py-10 text-center">
            <div class="inline-block sm:pt-1">
                <h2 class="font-bold">
                    Created by: {{ app.user ? app.user.email : 'guest' }}
                </h2>

                <p class="text-sm text-gray-600">
                    {{ movie.createdAt|date('Y-m-d') }} 4 min. read
                </p>
            </div>
        </div>

        <div class="mb-6">
            <a href="/movies" class="uppercase border border-gray-500 text-lg py-4 px-6 rounded transition bg-gray-800 text-white hover:bg-white hover:text-gray-800">
                Go Back / All movies
            </a>
        </div>

        <img src="{{ movie.imagePath }}" class="rounded-xl w-full shadow-xl" alt=""/>

        <p class="text-xl py-6">
            {{ movie.description }}
        </p>

        {% if app.user %}
            <a href="/movies/edit/{{ movie.id }}" class="bg-green-500 font-bold py-2 px-4 rounded transition-all hover:bg-green-300">
                Edit Movie
            </a>
        {% endif %}

        {% if app.user %}
            <a href="/movies/delete/{{ movie.id }}" class="bg-red-500 font-bold py-2 px-4 ml-6 rounded transition-all hover:bg-red-300">
                Delete Movie
            </a>
        {% endif %}
    </div>
{% endblock %}